*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
}
main{
    display: flex;
    justify-content: center;
    gap:50px;
    padding: 100px;
}
.box{
    border: black solid 1px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
form{
    display: flex;
    justify-content: center;
    gap:10px;
}
input{
    font-size: 20px;

}
#button{
    padding: 10px;
}